@model User
@{

}

<body>
    <div class="container">
        <div class="signin-image">
            <figure><img src="loginimages/signin-image.jpg" alt="sing in image"></figure>
            <a href="/Account/Kayit" class="signup-image-link">Create an account</a>
        </div>
        <form method="POST"  asp-controller="Account" asp-action="Index" class="register-form" id="login-form">
            <div class="form-group">
                <label for="e-mail"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input asp-for="@Model.Email" type="text" placeholder="Your Email" />
            </div>
            <div class="form-group">
                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                <input asp-for="@Model.Password" type="password" placeholder="Password" />
            </div>
            <div class="form-group">
                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
            </div>
            <div class="form-group">
                <label>

                </label>
            </div>
            <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
            </div>
        </form>
    </div>


    <!-- JS -->
    <script src="~/loginvendor/jquery/jquery.min.js"></script>
    <script src="~/loginjs/main.js"></script>
</body>
